.wrapper {
    z-index: 9999999;
    width: 800px;
    height: 671px;
    position: absolute;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    top: 0;
}
.content h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.content span {
    font-size: 14px;
    font-weight: 400;
}

.location {
    display: flex;
    margin-bottom: 32px;
}

.location .location__right{
    border: 1px solid #676767;
    border-radius: 6px;
    width: 48px;
    height: 48px;
    padding: 11px;
}

.location__left {
    margin-right: 16px;
    border: 1px solid #676767;
    border-radius: 6px;
    height: 48px;
    display: flex;
    padding: 15px;
    align-items: center;
}

.location__left img {
    margin-right: 12px;
}

.location__left span{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.content button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 40px;
    background-color: #0A2896;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

